<!DOCTYPE html>
<html>
<title>Pesanan</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, html {
  height: 100%;
  font-family: "Dekoratif", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/coffeehouse.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
<body background="{{ url_for('static', filename='img/b.jpeg') }}">


<!-- Links (sit on top) -->
<div>

</div>


<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="/" class="w3-button w3-block w3-blue">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="profil" class="w3-button w3-block w3-black">ABOUT</a>
    </div>
    <div class="w3-col s3">
      <a href="menu" class="w3-button w3-block w3-black">MENU</a>
    </div>
    <div class="w3-col s3">
      <a href="where" class="w3-button w3-block w3-black">WHERE</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
      <span class="w3-tag w3-center"><marquee>Open from 6am to 5pm</marquee></span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px"><b>Uwaw<br>Coffee Shop</b></span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<div class="w3-container">
  <div class="w3-content" style="max-width:700px">
    <h1 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Pesanan Anda Berhasil</span></h1>
    <div class="w3-row w3-center w3-card w3-padding">
    <section class="content">
      <div class="row">
        <div class="col-x5-12">
          <div class="box">
            <div class="box-header">
              {% block JudulKonten %} {%endblock %}
            </div>
            <div class="box-body">
              {% block konten %} {% endblock %}
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p>Powered by <a href="https://www.biznetnetworks.com/safesurf/" title="W3.CSS" target="_blank" class="w3-hover-text-green">UwawCorporation&reg;</a></p>

</footer>

</body>
</html>